.modal-add {
  position: fixed;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal-add .pop-up-add {
  background-color: white;
  width: 30vw;
  /* height: 20vw; */
  border-radius: 6px;
  /* background-color: white; */
  padding: 16px 21px;
}
.modal-add .pop-up-add .title-title-add .title {
  flex-direction: column;
  height: 10vh;
}

.modal-add .pop-up-add {
  position: relative;
}

.modal-add .pop-up-add .title-title-add .title .close-icon {
  position: absolute;
  top: 5%;
  left: 90%;
}
.modal-add .pop-up-add .title-title-add .title-title {
  text-align: start;
  font-weight: 700;
  color: #233555;
}
.modal-add .pop-up-add .title-title-add .title::after {
  content: "";
  width: 100%;
  margin: auto;
  height: 1px;
  background-color: #919eab;
}
.modal-add .button-add {
  margin-top: 10px;
  justify-content: flex-end;
}
